@charset "UTF-8";

.hd-form-control {
    padding-top:0.4rem;
    padding-bottom:0.4rem;
    background-color: $color-focus;
}


.hd-form {

    label {
        line-height: $line-height-base;
    }
    input[type="text"],input[type="password"],input[type="search"] {
        height:$object-height;
        @include css3(box-sizing, border-box);
        padding: 0 $spacer;
    }
    select {
        position: relative;
        @include css3(appearance, none);
        height: $object-height;
        font-size: 1rem;
        font-weight: normal;
        border:0;
        outline: 1px solid $color-line;
        outline-offset: -1px;
        background-color: $color-background;
        padding: 0 $spacer;

        background-color: transparent;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10px' width='15px'%3E%3Ctext x='0' y='10' fill='gray'%3E%E2%96%BE%3C/text%3E%3C/svg%3E");

        background-repeat: no-repeat;
        background-size: 1.5EM 1EM;
        background-position: right center;
        background-clip: border-box;
        -moz-background-clip: border-box;
        -webkit-background-clip: border-box;
    }
    textarea {
        @include css3(box-sizing, border-box);
        height: #{$object-height * 3};
    }
    [type="checkbox"],[type="radio"] {
        display:inline-block;
        @include css3(appearance, none);
        position: relative;
        vertical-align: middle;
        width: 1.5rem;
        height: 1.5rem;
        border: 1px solid $color-line;
        background: #fff;
        margin: 3px 0;

        &:checked:before {
            content: "";
            position: absolute;
            background: $color-control;
            left: 3px;
            top: 3px;
            width: 1.0rem;
            height: 1.0rem;
        }
    }
    [type="radio"] {
        border-radius: 100%;
        &:checked:before {
            border-radius: 100%;
        }
    }
}

.hd-form-block {
    label {
        display:block;
    }
    input[type="text"], input[type="password"], input[type="search"], input[type="date"] {
        display:block;
        width:100%;
    }
    select {
        width:100%;
        display:block;
    }
    textarea {
        display: block;
        width:100%;
    }
    [type="checkbox"],[type="radio"] {
        display:inline-block;
        //width:auto;
        //height: $line-height-base;
    }

    .hd-form-group {
        padding: #{$spacer/2};
    }

}

.hd-form-inline {
    display:inline;
    vertical-align: middle;
    label, input, select, textarea {
        display:inline-block;
        vertical-align: middle;
        margin:4px 0;
    }
    [type="checkbox"],[type="radio"] {
        display:inline-block;
        //width:auto;
    }

    .hd-form-group {
        display:inline;
        margin-right:$spacer;
        // padding: $spacer;
    }

}

.hd-form-label {
    font-weight: bold;
    color:$color-label;
}
