@charset "UTF-8";

.hd-form-control {
    padding-top:0.4rem;
    padding-bottom:0.4rem;
    background-color: $color-focus;
}


.hd-form {

    label {
        line-height: $line-height-base;
    }
    input {
        height:$object-height;
        @include css3(box-sizing, border-box);
        padding: 0 $spacer;
    }
    select {
        height: $object-height;
        font-size: 1rem;
        border:0;
        outline: 1px solid $color-line;
        outline-offset: -1px;
        background-color: $color-background;

        option {
            padding: 0 $spacer;
        }
    }
    textarea {
        @include css3(box-sizing, border-box);
        height: #{$object-height * 3};
    }
    [type="checkbox"],[type="radio"] {
        display:inline-block;
        width:auto;
        vertical-align: middle;
    }
}

.hd-form-block {
    label {
        display:block;
    }
    input {
        display:block;
        width:100%;
    }
    select {
        width:100%;
        display:block;
    }
    textarea {
        display: block;
        width:100%;
    }
    [type="checkbox"],[type="radio"] {
        display:inline-block;
        width:auto;
        height: $line-height-base;
    }

    .hd-form-group {
        padding: #{$spacer/2};
    }

}

.hd-form-inline {
    display:inline;
    vertical-align: middle;
    label, input, select, textarea {
        display:inline-block;
        vertical-align: middle;
        margin:4px 0;
    }
    [type="checkbox"],[type="radio"] {
        display:inline-block;
        width:auto;
    }

    .hd-form-group {
        display:inline;
        margin-right:$spacer;
        // padding: $spacer;
    }

}

.hd-form-label {
    font-weight: bold;
    color:$color-label;
}
