@charset "UTF-8";

.hd-wrapper {
    margin:0 auto;
    width: 100vw;
}

.hd-center {
    display: block;
    min-width:100px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.hd-left {
    float:left;
}

.hd-right {
    float:right;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.hd-list {
    margin:$spacer 0;
}
.hd-card {
    margin:0 $spacer
}
.hd-cols {
    &.hd-middle {
    	@include flex-vertical-align( center );
    }
    &.hd-top {
        @include flex-vertical-align( start );
    }
    &.hd-bottom {
        @include flex-vertical-align( flex-end );
    }
}

@for $i from 1 through $grid-columns {
    .hd-cols-#{$i} {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        width: 100%;
        .col {
            display:block;
            // float:left;
            width: #{100%/$i};
        }
        @include clearfix;
    }
}


.hd-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%;

    &.hd-middle {
    	@include flex-vertical-align( center );
    }
    &.hd-top {
        @include flex-vertical-align( start );
    }
    &.hd-bottom {
        @include flex-vertical-align( flex-end );
    }

}


// common
@for $i from 1 through $grid-columns {
    .col-#{$i}, .col-s-#{$i}, .col-m-#{$i}, .col-l-#{$i},  {
        width: #{100%/$grid-columns * $i};
        max-width: #{100%/$grid-columns * $i};
    }
}

// phone
@media screen and (max-width: $breakpoint-s) {
    @for $i from 1 through $grid-columns {
        .col-#{$i}, .col-m-#{$i}, .col-l-#{$i} {
            width: 100%;
            max-width: 100%;
        }
        .col-s-#{$i} {
            width: #{100%/$grid-columns * $i} !important;
            max-width: #{100%/$grid-columns * $i} !important;
        }
    }
}

// big phone, small tablet
@media screen and (min-width: $breakpoint-s) and (max-width: $breakpoint-m) {
    @for $i from 1 through $grid-columns {
        .col-l-#{$i} {
            width: 100%;
            max-width: 100%;
        }
        .col-m-#{$i} {
            width: #{100%/$grid-columns * $i} !important;
            max-width: #{100%/$grid-columns * $i} !important;
        }
    }
}

// big tablet, pc
@media screen and (min-width: $breakpoint-m) {
    @for $i from 1 through $grid-columns {
        .col-l-#{$i} {
            width: #{100%/$grid-columns * $i} !important;
            max-width: #{100%/$grid-columns * $i} !important;
        }
    }
}
