@charset "UTF-8";

.hd-nav {
    background-color: $color-control;
    width:100%;
    color: $color-hilight;

    &.hd-nav-fixed-top {
        position: fixed;
        top:0;
        z-index:100;
    }

    &.hd-nav-fixed-bottom {
        position: fixed;
        bottom: 0;
    }

    .hd-nav-brand {
        font-weight: bold;
    }

    a,p {
        display:block;
        margin:0;
        width:auto;
        padding:0 $spacer;
        line-height: 2.5rem;
        // background-color: $color-control;
        color: $color-hilight;
        text-decoration: none;
        text-align: center;
        white-space: nowrap;
    }

    li.active, a:hover {
        background-color: rgba(#ffffff, 0.1);
        color:$color-flash;
    }

    ul.hd-nav-y {
        display:block;
        overflow: hidden;
        white-space: nowrap;
        &.left {
            a,p {
                text-align: left;
            }
        }
        &.right {
            a,p {
                text-align: right;
            }
        }
        li {
            display: block;
            font-size:1em;
            a{
                border-top: 1px solid rgba(255,255,255, .05);
                border-bottom: 1px solid rgba(0,0,0, .10);
            }

        }
    }

    ul.hd-nav-x {
        position:relative;
        display: block;
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        font-size:0;

        &::-webkit-scrollbar {
            display:none;
        }

        li {
            display:inline-block;
            font-size: 1rem;
            a{
                border-left: 1px solid rgba(255,255,255, .05);
                border-right: 1px solid rgba(0,0,0, .10);
            }
        }

    }



    &.hd-nav-gray {
        background-color: $color-nav-gray;
        color : $color-text;

        .hd-nav-brand: {
            color: $color-text;
        }

        a,p {
            color: $color-text;
        }

        li.active {
            background-color: $color-background;
        }
    }

}
