@charset "UTF-8";

$font-family-base : Arial, Helvetica, sans-serif;
$font-size-base: 16px;


$line-height-base: 1.5rem;
$object-height: 2.4rem;

$spacer : 1rem;

$color-brand : #333;
$color-text  : #333;
$color-line  : #ddd;
$color-control : #333;
$color-shadow : #999;
$color-hilight : #CCC;
$color-darken :  #EFEFEF;
$color-background : #FFF;
$color-label: #333;
$color-flash: #FFF;
$color-link: #000;
$color-focus: #333;

$color-error: #d7368b;
$color-safe: #6cb43a;

$grid-columns : 24;

$breakpoint-s: 600px;
$breakpoint-m: 960px;
$breakpoint-l: 1280px;

$breakpoints: (
    l: $breakpoint-l,
    m: $breakpoint-m,
    s: $breakpoint-s,
);

$btn-colors : (
    "default": $color-control,
    "gray": lighten($color-control,15%),
    "white": lighten($color-control, 40%)
);
